{% extends 'index.html' %}
{% block title %} Iniciar sesion {% endblock %}

{% block content %}

<section id="seccionLogin" class="container-fluid contenido">
  <!--Cargamos formulario de login-->
  <div id="iniciarSesion" class="col-2 col-lg-5 ">
    <h3 style="text-align: center;">Iniciar sesión</h3>
    <form action="{% url 'signin' %}" method="post">
      {{ error }}
      {% csrf_token %}
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" minlength="10" maxlength="100" required />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password" minlength="6" maxlength="100" required />
      </div>

      <button type="submit" class="btn btn-primary">Ingresar</button>

      <p>No tienes cuenta?</p>
      <a class="btn btn-primary" href="{% url 'signup' %}">Registrarse</a>
    </form>


  </div>
  <!--Fin Formulario de login-->
</section>

{% endblock %}