{% extends 'index.html' %}
{% block title %} Iniciar sesion {% endblock %}

{% block content %}

<section id="seccionLogin" class="container-fluid contenido">
  <!--Cargamos formulario de login-->
  <div id="iniciarSesion" class="col-2 col-lg-5 ">
    <h3 style="text-align: center;">Registrate</h3>
    <form method="post" autocomplete="off">
      {{ error }}
      {% csrf_token %}

      <div class="mb-3">
        <label for="username" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" minlength="4" maxlength="100" required />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" minlength="10" maxlength="100" required />
      </div>

      <div class="mb-3">
        <label for="password1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password1" minlength="6" maxlength="100" required />
      </div>

      <div class="mb-3">
        <label for="password2" class="form-label">Repite tu contraseña</label>
        <input type="password" class="form-control" name="password2" minlength="6" maxlength="100" required />
      </div>

      <button type="submit" class="btn btn-primary">Registrarse</button>

    </form>
  </div>

</section>




{% endblock %}